In [9]:
import pandas as pd

How many observations and features do you have?

In [13]:
data = pd.read_csv('C:\Programação\Becode\Projects\DataNeverMinds\immo-eliza-scraping-dataneverminds\data\property_data.csv',sep=',')
data

,Property ID,Locality name,Postal code,Price,Type of property,Subtype of property,Type of sale,Number of Rooms,Living area,Furnished,Open fire,Terrace Surface,Garden Surface,Swimming pool,Toilets,Surface of good,Number of facades,Building State,Kitchen_type,Kitchen
0,10666139,Lasne,1380,995000,HOUSE,VILLA,BUY_REGULAR,6,300.0,0,0,NaN,NaN,0,1.0,14631.0,4.0,TO_RESTORE,NaN,0
1,10832715,Etterbeek,1040,1150000,HOUSE,HOUSE,BUY_REGULAR,6,300.0,0,0,40.0,150.0,0,4.0,260.0,2.0,AS_NEW,HYPER_EQUIPPED,1
2,10511833,Woluwe-Saint-Lambert,1200,1190000,HOUSE,HOUSE,BUY_REGULAR,6,304.0,0,0,33.0,353.0,0,3.0,475.0,2.0,GOOD,INSTALLED,1
3,11058109,Antwerp,2018,1250000,HOUSE,MANSION,BUY_REGULAR,8,360.0,0,0,NaN,36.0,0,6.0,173.0,2.0,GOOD,INSTALLED,1
4,10808476,Anderlecht,1070,1295000,HOUSE,APARTMENT_BLOCK,BUY_REGULAR,9,580.0,0,0,NaN,NaN,0,9.0,140.0,3.0,GOOD,SEMI_EQUIPPED,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17485,10796912,Stavelot,4970,410000,HOUSE,VILLA,BUY_REGULAR,6,193.0,0,0,NaN,965.0,0,2.0,1121.0,4.0,GOOD,INSTALLED,1
17486,11105656,Paal,3583,346866,HOUSE,MIXED_USE_BUILDING,BUY_REGULAR,3,143.0,0,0,NaN,NaN,0,1.0,434.0,NaN,NaN,INSTALLED,1
17487,11105640,Duisburg,3080,768253,HOUSE,MIXED_USE_BUILDING,BUY_REGULAR,3,207.0,0,0,NaN,NaN,0,2.0,781.0,NaN,NaN,INSTALLED,1
17488,11105631,Herent,3020,501659,HOUSE,MIXED_USE_BUILDING,BUY_REGULAR,3,198.0,0,0,NaN,NaN,0,1.0,860.0,NaN,NaN,INSTALLED,1
17489,11105624,Borgloon,3840,324710,HOUSE,MIXED_USE_BUILDING,BUY_REGULAR,3,170.0,0,0,NaN,NaN,0,NaN,515.0,NaN,GOOD,INSTALLED,1

What is the proportion of missing values per column?

In [18]:
missing_value = data.isnull().mean()
missing_value

Property ID            0.000000
Locality name          0.000000
Postal code            0.000000
Price                  0.000000
Type of property       0.000000
Subtype of property    0.000000
Type of sale           0.000000
Number of Rooms        0.000000
Living area            0.048256
Furnished              0.000000
Open fire              0.000000
Terrace Surface        0.642882
Garden Surface         0.712236
Swimming pool          0.000000
Toilets                0.200743
Surface of good        0.210577
Number of facades      0.212407
Building State         0.225386
Kitchen_type           0.371812
Kitchen                0.000000
dtype: float64

Which variables would you delete and why?

In [24]:
#i would not take any of them
data.shape

(17490, 20)

What variables are most subject to outliers?

In [25]:
data.head(5)

,Property ID,Locality name,Postal code,Price,Type of property,Subtype of property,Type of sale,Number of Rooms,Living area,Furnished,Open fire,Terrace Surface,Garden Surface,Swimming pool,Toilets,Surface of good,Number of facades,Building State,Kitchen_type,Kitchen
0,10666139,Lasne,1380,995000,HOUSE,VILLA,BUY_REGULAR,6,300.0,0,0,NaN,NaN,0,1.0,14631.0,4.0,TO_RESTORE,NaN,0
1,10832715,Etterbeek,1040,1150000,HOUSE,HOUSE,BUY_REGULAR,6,300.0,0,0,40.0,150.0,0,4.0,260.0,2.0,AS_NEW,HYPER_EQUIPPED,1
2,10511833,Woluwe-Saint-Lambert,1200,1190000,HOUSE,HOUSE,BUY_REGULAR,6,304.0,0,0,33.0,353.0,0,3.0,475.0,2.0,GOOD,INSTALLED,1
3,11058109,Antwerp,2018,1250000,HOUSE,MANSION,BUY_REGULAR,8,360.0,0,0,NaN,36.0,0,6.0,173.0,2.0,GOOD,INSTALLED,1
4,10808476,Anderlecht,1070,1295000,HOUSE,APARTMENT_BLOCK,BUY_REGULAR,9,580.0,0,0,NaN,NaN,0,9.0,140.0,3.0,GOOD,SEMI_EQUIPPED,1

How many qualitative and quantitative variables are there? How would you transform the qualitative values into numerical values?

TypeError: 'RangeIndex' object is not callable

What is the correlation between the variables and the price? Why do you think some variables are more correlated than others?

How are the variables themselves correlated to each other? Can you find groups of variables that are correlated together?

How are the number of properties distributed according to their surface?

Which five variables do you consider the most important and why?

What are the least/most expensive municipalities in Belgium/Wallonia/Flanders? (in terms of price per m², average price, and median price)